@{
    ViewData["Title"] = "Home Page";
}
<div class="splash-screen-grid">
    <header class="splash-screen-title">TOWN ATTACK RPG</header>
    <form method="get" asp-controller="Main" asp-action="Index" class="splash-screen-start">
        <button>
            <content>START</content>
        </button>
    </form>
</div>