@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>WE DON'T TRACK NOTHIN'</p>
<p>Well, that's not quite true. The game depends on cookies to hold session data and save your game. It won't save anything other than game data and your User ID.</p>