@model TownAttackRPG.Models.ViewModels.Main.NameAndGenderVM
@{
    ViewData["Title"] = "NameAndGender";
    string[] GenderOptions = new[] { "Male", "Female" };
}

<form class="name-and-gender-grid" method="post" asp-action="NameAndGender">
    <input class="name-input" type="text" asp-for="Name" placeholder="Enter your name."/>
    <div class="gender-radio-toggle">
        <div class="male">
            <label asp-for="Gender">Male</label>
            <input type="radio" asp-for="Gender" value="M" />
        </div>
        <div class="female">
            <label asp-for="Gender">Female</label>
            <input type="radio" asp-for="Gender" value="F" />
        </div>
    </div>
    <input class="next-button" type="submit" value="Next" />
</form>
