
@{
    ViewData["Title"] = "Scenario";
}

<h1>Scenario Selection</h1>

<ul>
    <li><a asp-controller="Game" asp-action="Index" asp-route-scenario="tutorial">Tutorial</a></li>
    <li><a>Town Attack Classic</a></li>
</ul>