@model TownAttackRPG.Models.ViewModels.NewGame.ScenarioVM
@{
    ViewData["Title"] = "Select Scenario";
    
}
<div class="card-deck-menu-grid">
    <header class="menu-title card-deck-menu-title">SELECT SCENARIO</header>
    <content class="card-deck">
        <form method="post">
            <input type="hidden" asp-for="@Model.ScenarioChoice" value="tutorial" />
            <div class="card-backing">
                <div class="card-padding">
                    <button class="scenario-card" type="submit">
                        <img src="~/images/tutorial-card-img.jpg" />
                        <header>Tutorial</header>
                        <content>Learn the basics of Town Attack RPG.</content>
                    </button>
                </div>
            </div>
        </form>
        <form method="post">
            <input type="hidden" asp-for="@Model.ScenarioChoice" value="townattackclassic" />
            <div class="card-backing">
                <div class="card-padding">
                    <button class="scenario-card" type="submit">
                        <img src="~/images/burning-town-card-img.jpg" />
                        <header>Town Attack</header>
                        <content>Defend the town from a bandit assault!</content>
                    </button>
                </div>
            </div>
        </form>
    </content>
</div>