

/* #region Default CSS */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    /*background-color: #090000;*/
    background: repeating-linear-gradient(0deg, saddlebrown, saddlebrown 4px, #090000 4px, #090000 20px);
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #090000;
}
/* #endregion */

/*#region aspect ratio code I totally stole off the internet*/
[style*="--aspect-ratio"] > :first-child {
    width: 100%;
}

[style*="--aspect-ratio"] > img {
    height: auto;
}

@supports (--custom:property) {
    [style*="--aspect-ratio"] {
        position: relative;
    }

        [style*="--aspect-ratio"]::before {
            content: "";
            display: block;
            padding-bottom: calc(100% / (var(--aspect-ratio)));
        }

        [style*="--aspect-ratio"] > :first-child {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
        }
}
/*#endregion*/

/* #region Game Layout CSS*/
.game-window {
    /*min-height: 80vh;*/
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: auto;
    margin-bottom: auto;
    padding: 15px;
    background-color: saddlebrown;
    
}
.game-window-padding {
    padding: 10px;
    height: 100%;
    width: 100%;
}
.game-window-crt-shadow {
    border-radius: 10px;
    justify-content: center;
    background-color: transparent;
    height: 100%;
    -moz-box-shadow: inset 0 10px 30px #000000;
    -webkit-box-shadow: inset 0 10px 30px #000000;
    box-shadow: inset 0 10px 30px #000000;
}
.game-content {
    border-radius: 10px;
    justify-content: center;
    background-color: antiquewhite;
    height: 100%;
    z-index: 1;
}
.menu-title {
    grid-area: title;
    font-size: 40pt;
    text-align: center;
    padding-top: 5%;
    font-family: 'Press Start 2P', cursive;
}
/* #endregion */

/*#region Splash Screen*/
.splash-screen-grid {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 5fr 2fr 1fr;
    grid-template-areas:
        ". . ."
        ". title ."
        ". start ."
        ". . .";
    height: 100%;
}
.splash-screen-title {
    grid-area: title;
    justify-self: center;
    align-self: center;
    font-size: 40pt;
    font-family: 'Press Start 2P', cursive;
    font-weight: 300;
    text-align: center;
}
.splash-screen-start {
    grid-area: start;
    justify-self: center;
    align-self: flex-start;
}
.splash-screen-start > button {
    font-size: 30pt;
    padding: 0.2em .5em;
    margin: 0 0.3em 0.3em 0;
    border: 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-weight: 300;
    text-align: center;
    transition: all 0.2s;
    background-color: antiquewhite;
    color: black;
}
.splash-screen-start > button:hover {
    background-color: black;
    color: antiquewhite;
}
/*#endregion*/

/*#region Main Menu*/
.main-menu-grid {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 5fr 2fr 1fr;
    grid-template-areas: 
        ".   .   ." 
        ". title ." 
        ". menu  ." 
        ". menu  .";
    height: 100%;
}
.main-menu-options-grid{
    grid-area: menu;
    display: grid;
    justify-content: space-around;
    align-content: stretch;
    text-align: center;
    height: 100%;
    grid-template-areas:
        "new"
        "load"
        "options";
}
.main-menu-options-grid > form > button.newgame-button {
    grid-area: new;
}
.main-menu-options-grid > form > button.loadgame-button {
    grid-area: load;
}
.main-menu-options-grid > form > button.options-button {
    grid-area: options;
}
.main-menu-options-grid > form > button {
    font-size: 20pt;
    padding: 0.2em .5em;
    margin: 0 0.3em 0.3em 0;
    border: 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-weight: 300;
    text-align: center;
    transition: all 0.2s;
    background-color: antiquewhite;
    color: black;
}
.main-menu-options-grid > form > button:hover {
    background-color: black;
    color: antiquewhite;
}
    /*#endregion*/

/*#region Card Deck Menus*/
.card-deck-menu-grid {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 7fr 1fr;
    grid-template-areas: 
        ".   .   ." 
        ". title ." 
        ".   .   ."
        ". cards ." 
        ".   .   .";
    height: 100%;
}
.card-deck-menu-title {
    font-size: 30pt;
}
.card-deck {
    grid-area: cards;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    /*align-items: flex-start;*/
}
.card-backing {
    background-color: saddlebrown;
    height: 100%;
    border-radius: 10px;
}
.card-padding {
    padding: 8px;
    height: 100%;
    width: 100%;
}
/*#endregion*/

/*#region Scenario Card*/
.scenario-card {
    height: 100%;
    border: 0px;
    border-radius: 5px;
    background-color: floralwhite;
    padding: 0 0 0 0;
    display: grid;
    grid-template-columns: 1fr 30fr 1fr;
    grid-template-rows: .5fr 5fr 2fr 3fr;
    grid-template-areas: 
        ".     .    ." 
        ". cardpic  ."
        ". cardname ." 
        ". cardtext ."
}
.scenario-card > img {
    grid-area: cardpic;
    max-width: 255px;
    justify-self: center;
    border-radius: 10px;
}
.scenario-card > header {
    grid-area: cardname;
    font-family: 'Press Start 2P', cursive;
    max-width: 277px;
    font-size: 16pt;
    padding-top: 10px;
}
.scenario-card > content {
    grid-area: cardtext;
    font-family: 'Press Start 2P', cursive;
    font-size: 8pt;
    width: 100%;
    max-width: 277px;
    border: solid saddlebrown 1px;
    padding-top: 5px;
    margin-bottom: 10px;
}

/*#endregion*/

/*#region Prof Card*/
.profession-card {
    height: 100%;
    border: 0px;
    border-radius: 5px;
    background-color: floralwhite;
    padding: 0 0 0 0;
    display: grid;
    grid-template-columns: 1fr 30fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        ". cardname  ." 
        ". content ." 
}
.profession-card > header {
    grid-area: cardname;
    font-family: 'Press Start 2P', cursive;
    font-size: 16pt;
    padding-top: 10px;
}

.profession-card > content {
    grid-area: content;
    font-family: 'Press Start 2P', cursive;
    font-size: 8pt;
    width: 100%;
    border: solid saddlebrown 1px;
    padding-top: 5px;
    margin-bottom: 10px;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "summary summary"
        "att tal"
        "equip items"
}
.profession-card > content > section {
    padding-top: 5px;
    border: 1px solid black;
}
.profession-card > content > section.summary {
    grid-area: summary;
}
.profession-card > content > section.attributes {
    grid-area: att;
}
.profession-card > content > section.talents {
    grid-area: tal;
}
.profession-card > content > section.starting-equipment {
    grid-area: equip;
}
.profession-card > content > section.starting-items {
    grid-area: items;
}
/*#endregion*/

/*#region Save Game Cards*/
.save-slot-card {
    height: 100%;
    border: 0px;
    border-radius: 5px;
    background-color: floralwhite;
    padding: 0 0 0 0;
    display: grid;
    grid-template-columns: 1fr 30fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
        ". cardname  ." 
        ". content ."
}
.save-slot-card > header {
    grid-area: cardname;
    font-family: 'Press Start 2P', cursive;
    font-size: 16pt;
    padding-top: 10px;
}

.save-slot-card > content {
    grid-area: content;
    font-family: 'Press Start 2P', cursive;
    font-size: 8pt;
    width: 100%;
    border: solid saddlebrown 1px;
    padding-top: 5px;
    margin-bottom: 10px;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas: 
        "scenario"
        "name"
        "profession"
}
.save-slot-card > content > section.scenario {
    grid-area: scenario;
}

.save-slot-card > content > section.character-name {
    grid-area: name;
}

.save-slot-card > content > section.profession {
    grid-area: profession;
}
/*#endregion*/

/*#region Name & Gender*/
.name-and-gender-grid {
    display: grid;
    grid-template-rows: 1fr 3fr 3fr 1fr;
    grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
    grid-template-areas:
        ". . . . ."
        ". name name name ."
        ". gender gender gender ."
        ". . next . .";
}
.name-input {
    grid-area: name;
    font-size: 30pt;
}
.next-button {
    grid-area: next;
}
.gender-radio-toggle {
    grid-area: gender;
    /*Toggle CSS code: https://codepen.io/dsenneff/pen/ZoLVZW?editors=1100*/
}

/*#endregion*/