
@{
    ViewData["Title"] = "Index";
}

<h1>Town Attack RPG</h1>

<ul class="centered-menu-list">
    <li><a asp-controller="NewGame">New Game</a></li>
    <li><a asp-controller="LoadGame">Load Game</a></li>
    <li><a asp-action="Options">Options</a></li>
</ul>