
@{
    ViewData["Title"] = "Index";
}

<div class="main-menu-grid">
    <header class="menu-title">
        TOWN ATTACK RPG
    </header>
    <div class="main-menu-flexbox">
        <form asp-controller="NewGame">
            <button>
                <content>NEW GAME</content>
            </button>
        </form>
        <form asp-controller="LoadGame">
            <button>
                <content>LOAD GAME</content>
            </button>
        </form>
        <form asp-controller="Options">
            <button>
                <content>OPTIONS</content>
            </button>
        </form>
    </div>
</div>